body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scene {
    display: none;
    text-align: center;
}

.scene.visible {
    display: block;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.dimmed {
    opacity: 0.5; /* Less dimming effect */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.legend-container {
    margin-top: 20px;
}

.legend-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.legend-text {
    font-size: 14px;
}


.annotation {
    font-size: 14px;
    /* font-weight: bold; */
    /* fill: #555;  */
}

.annotation-description {
    font-size: 12px;
    /* fill: #555;  */
    margin-top: 10px;
}
